[General]
nombre_dataset = dataset

[Descarga]
num_dias = 1
fecha_inicio = 2022/07/17
fecha_final  = 2022/07/17
hora_inicio_utc  = 12:00
hora_final_utc   = 12:20
saltear_archivos = 2

[Bandas]
bandas  = 4,CAPE
ventana = 16

[Resolucion Km]
reescalado = 2

[Ubicaciones]
limite_inferior_latitud  = 18.1
limite_superior_latitud  = 29.08
limite_inferior_longitud = -108.7
limite_superior_longitud = -88.5
resolucion_grid = 10


